<div class="row">
	<div class="container text-center" id="cat-container">
		<h1 id="title">Cat Fact</h1>
		<div class="container text-center" id="cat-fact"></div>
	</div>
</div>

<div class="row">
	<div class="container">
<button id="factBtn">Show a random cat fact!</button>
	</div>
</div>

<div class="row" id="cat-pic">
	<div class="container" id="cat-container">
		<h1 id="title">Cat GIF</h1>
		<div class="container" id="catGif"></div>
	</div>
</div>

<div class="row">
	<div class="container">
<button id="gifBtn">Generate Random Gif!</button>
	</div>
</div>

<br>

<div class="row">
	<div class="container">
		<div class="control">
			<div id="breed-button" class="select">
				<select id="breed-list" onchange="breedResults()">
					<option value="Select Breed">Select Breed</option>
				</select>
			</div>
		</div>
	</div>
</div>

<div class="row" id="breed-info">
	<div class="container bg-warning">
		<article class="notification">
			<h1 id="title" class="title">Cat Breed Info</h1>
			<figure id="catBreed">
			</figure>
		</article>
	</div>
</div>

<script src="/javascript/script.js"></script>